/srv/nfs/share        *(rw,sync,no_root_squash)
/srv/nfs/share/download   *(rw,sync,no_root_squash)
/srv/nfs/share/var_upload *(rw,sync,no_root_squash)
/srv/nfs/share/eproc_tmp  *(rw,sync,no_root_squash)
