services:
  web:
    image: josenerydev/app:OvIbOU
    deploy:
      replicas: 6
    volumes:
      - nfs_download:/download
      - nfs_var_upload:/var/upload
      - nfs_eproc_tmp:/var/www/eproc_tmp
    ports:
      - "8080:80"

volumes:
  nfs_download:
    external: true
  nfs_var_upload:
    external: true
  nfs_eproc_tmp:
    external: true
